@model EventApp.Models.Tblpastwork

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<div class="comment-form clearfix">

    <div class="section-title text-left mb-50">
        <h2 class="big-title">Add <strong>Pastwork</strong></h2>
    </div>

    <div class="form-wrapper">
        <form action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <!-- form-item - start -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mb-30">
                        <textarea name="Description" placeholder="Description" required maxlength="150"></textarea>
                    </div>
                </div>
                <!-- form-item - start -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-item mb-30">
                        @Html.DropDownList("Subcategoryid", null, htmlAttributes: new { @class = "form-control", @style = "height:35px" })
                        @Html.ValidationMessageFor(model => model.Subcategoryid, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- form-item - end -->
                <!-- form-item - start -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-item mb-30">
                        <input type="file" name="ImageURL" placeholder="Add Image" title="Your Suggested work Image" multiple accept="Image/*" required>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-item mb-30">
                        <input type="file" name="VideoURL" placeholder="Add Video" title="Your Suggested work Video" multiple accept="Video/*" required>
                    </div>
                </div>
                <!-- form-item - end -->
                <!-- form-item - start -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mb-30">
                        <center><button type="submit" class="custom-btn mb-30">ADD</button></center>
            </div>
                </div>
                <!-- form-item - end -->
                <!-- form-item - end -->
            </div>
        </form>
    </div>

</div>

