
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>15</h3>

                    <p>Clients</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-default">
                <div class="inner">
                    <h3>10</h3>

                    <p>Event Managers</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-person-add"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>8</h3>

                    <p>User Tenders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-bulb"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>5</h3>

                    <p>EventManager Tenders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-contract"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>10</h3>

                    <p>Category</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-list"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>25</h3>

                    <p>Sub Category</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-list"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>3</h3>

                    <p>State</p>
                </div>
                <div class="icon">
                    <i class="fa fa-city"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-default">
                <div class="inner">
                    <h3>25</h3>

                    <p>City</p>
                </div>
                <div class="icon">
                    <i class="fas fa-house-damage"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
<!-- /.row -->